



.row{
    background-color: #FFFFFF ;
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .row h1{
    color:#F97300;
    margin: 2em;
   }
   .row img{
    height: 100%;
       width: 100%;
       
   }

   


   /*Prendas Azules*/
.prendas_azules{
    background-color: #FFFFFF;
    margin: 4em 0;
       position: relative; 
   }
   .prendas_azules h1{
    color:#000000;
    margin: 2em; 
   }
   .prendas_azules img{
     height: 15rem;
     width: 100%;
     margin: 1em;
     
   }


     /*Prendas Rojas*/
.prendas_rojas{
    background-color: #FFFFFF;
    margin: 4em 0;
       position: relative; 
   }
   .pprendas_rojas h1{
    color:#000000;
    margin: 2em; 
   }
   .prendas_rojas img{
     height: 15rem;
     width: 100%;
     margin: 1em;
     
   }






    
   



   

  
  